.contact-button {
  margin-top: 25px;
  margin-bottom: 20px;
}

/**/

footer.page-footer {
  margin: 0;
  padding: 40px 0 25px 0;
}

.hello {
  padding: 70px 0 90px 0;
}

.about {
  padding: 100px 0 100px 0;
}

.cloud svg {
  fill: #ffffff;
}

.what-i-do-container {
  min-height: 410px;
}

.what-i-do-second-container {
  min-height: 370px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.what-i-do-text, .design-icon, .development-icon {
  display: none;
}

.design-description, .development-description {
  display: none;
  vertical-align: top
}

.name-in-footer {
  text-decoration: underline;
}

.freelance-work {
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 360px;
}

.currently-available, .contact-description, .contact-button {
  display: none;
}

.project {
  padding: 80px 0 50px 0;
}

.custom-brown {
  background-color: #E29470;
}

.custom-brown:hover {
  background-color: #E29470;
}